{% import "Ceres::Category.Macros.CategoryTree" as Tree %}

{% set lvl1Categories = [1457, 1459, 724, 1458] %}
{% set lvl2Categories0 = [1456, 1292, 1289, 1293, 1449, 1448, 1446, 1447, 1451, 1454, 1453, 1452] %}
{% set lvl2Categories1 = [1093, 1094, 1095, 1091, 401, 1353] %}
{% set lvl2Categories2 = [171, 172, 174, 173, 176] %}
{% set lvl2Categories3 = [408, 170] %}

<ul id="hover" class="mainmenu">
  {% if not services.template.isHome() %}
  {% for first in categoryBreadcrumbs %}
    {% set level = 0 %}
    {% set counter = 0 %}

    {% if first.level == 1 %}
      {% for category in categories if category.id in lvl1Categories %}
        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        {% if category.details[0] %}
          <li id="plentycat_{{ category.id }}" class="level{{ level }} {% if category.id == first.id or (first.id in lvl2Categories0 and level == 0) or (first.id in lvl2Categories1 and level == 1) or (first.id in lvl2Categories2 and level == 2) or (first.id in lvl2Categories3 and level == 3) %} active{% endif %}">
            <a  href="{{ urlNow }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ category.details[0].name }}">{{ category.details[0].name }}</a>

            {% if level == 0 %}
              {% if lvl2Categories0 is not empty  %}
                <ul class="dropdown level{{counter}}">
                  
                </ul>
              {% endif %}
            {% elseif level == 1 %}
              {% if lvl2Categories1 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories1 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% elseif level == 2 %}
              {% if lvl2Categories2 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories2 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% elseif level == 3 %}
              {% if lvl2Categories3 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories3 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}

          </li>
          {% set level = level + 1 %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% else %}

      {% for category in categories if category.id in lvl1Categories %}
        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        {% if category.details[0] %}
          <li id="plentycat_{{ category.id }}" class="level{{ level }} ">
            <a  href="{{ urlNow }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ category.details[0].name }}">{{ category.details[0].name }}</a>

            {% if level == 0 %}
              {% if lvl2Categories0 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories0 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% elseif level == 1 %}
              {% if lvl2Categories1 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories1 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% elseif level == 2 %}
              {% if lvl2Categories2 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories2 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% elseif level == 3 %}
              {% if lvl2Categories3 is not empty %}
                <ul class="dropdown level{{counter}}">
                  {% for categoryChild in categories if categoryChild.id in lvl2Categories3 %}
                    {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
                    <li id="plentycat_{{ categoryChild.id }}">
                      <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}

          </li>
          {% set level = level + 1 %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
  {% endif %}
</ul>
