{% set lang = services.sessionStorage.getLang() %}
{% set categoryBreadcrumbs = services.category.getHierarchy() %}

{% set lvl1Categories = [1457, 1459, 724, 1458] %}
{% set lvl2Categories0 = [1292, 1289, 1293, 1449] %}
{% set lvl2Categories1 = [1093, 1094, 1091, 401, 1353] %}
{% set lvl2Categories2 = [171, 172, 174, 173, 176] %}
{% set lvl2Categories3 = [408, 170] %}
{% set lvl2Categories4 = [] %}
{% set lvl2Categories5 = [] %}

<ul class="sidebar-categories">
  {% for first in categoryBreadcrumbs %}
    {% if first.level == 1 %}

      {% for category in categories if category.id in lvl1Categories %}
        {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}

        <p class="hidden">{{ category.id}} | {{ first.id}} |  {{ lvl1Categories[0] }}</p>

        {% if category.details[0] and first.id == lvl1Categories[0] and category.id == lvl1Categories[0] and lvl2Categories0 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories0 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% for breadcrumb in categoryBreadcrumbs %}{% if categoryChild.id == breadcrumb.id %} active{% endif %}{% endfor %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and first.id == lvl1Categories[1] and category.id == lvl1Categories[1] and lvl2Categories1 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories1 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% for breadcrumb in categoryBreadcrumbs %}{% if categoryChild.id == breadcrumb.id %} active{% endif %}{% endfor %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and first.id == lvl1Categories[2] and category.id == lvl1Categories[2] and lvl2Categories2 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories2 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% for breadcrumb in categoryBreadcrumbs %}{% if categoryChild.id == breadcrumb.id %} active{% endif %}{% endfor %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and first.id == lvl1Categories[3] and category.id == lvl1Categories[3] and lvl2Categories3 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories3 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% for breadcrumb in categoryBreadcrumbs %}{% if categoryChild.id == breadcrumb.id %} active{% endif %}{% endfor %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
