{% set lang = services.sessionStorage.getLang() %}
{% set categoryBreadcrumbs = services.category.getHierarchy() %}

{% set lvl1Categories = [1457, 1459, 724, 1458] %}
{% set lvl2Categories0 = [1456, 1292, 1289, 1293, 1449, 1448, 1446, 1447, 1451, 1454, 1453, 1452] %}
{% set lvl2Categories1 = [1093, 1094, 1095, 1091, 401, 1353] %}
{% set lvl2Categories2 = [171, 172, 174, 173, 176] %}
{% set lvl2Categories3 = [408, 170] %}
{% set lvl2Categories4 = [] %}
{% set lvl2Categories5 = [] %}

<ul class="sidebar-categories">
  {% for first in categoryBreadcrumbs %}
  {% set count = 0 %}
    {% if first.level == 1 %}
      {% for category in categories if category.id in lvl1Categories %}

        {% if category.details[0] and ((first.id == lvl1Categories[0] and category.id == lvl1Categories[0]) or (first.id in lvl2Categories0 and count == 0 )) and lvl2Categories0 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories0 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and ((first.id == lvl1Categories[1] and category.id == lvl1Categories[1]) or (first.id in lvl2Categories1 and count == 0 )) and lvl2Categories1 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories1 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}"  class="{% if categoryChild.id == first.id %} active{% endif %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and ((first.id == lvl1Categories[2] and category.id == lvl1Categories[2]) or (first.id in lvl2Categories2 and count == 0 )) and lvl2Categories2 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories2 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% elseif category.details[0] and ((first.id == lvl1Categories[3] and category.id == lvl1Categories[3]) or (first.id in lvl2Categories3 and count == 0 )) and lvl2Categories3 is not empty %}
          {% for categoryChild in categories if categoryChild.id in lvl2Categories3 %}
            {% set urlNowChild = "/" ~ categoryChild.details[0].nameUrl %}
            <li id="plentycat_{{ categoryChild.id }}" class="{% if categoryChild.id == first.id %} active{% endif %}">
              <a href="{{ urlNowChild }}{{ urls.trailingSlashSuffix }}" class="nav-link" title="{{ categoryChild.details[0].name }}">{{ categoryChild.details[0].name }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% set count = count + 1 %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
